<div class="container">
  <h2>Productos</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">
      <td>
        <div *ngIf="!productoEditar || productoEditar.id !== producto.id">{{ producto.nombre }}</div>
        <div *ngIf="productoEditar && productoEditar.id === producto.id">
          <input [(ngModel)]="productoEditar.nombre" required>
          <input [(ngModel)]="productoEditar.precio" required>
          <input [(ngModel)]="productoEditar.categoria" required>
          <input [(ngModel)]="productoEditar.cantidad" required>
        </div>
      </td>
      <td>
        <div *ngIf="!productoEditar || productoEditar.id !== producto.id">{{ producto.precio }}</div>
        <div *ngIf="productoEditar && productoEditar.id === producto.id">
          <!-- Agregar campo de edición de precio si es necesario -->
        </div>
      </td>
      <td>
        <div *ngIf="!productoEditar || productoEditar.id !== producto.id">{{ producto.categoria }}</div>
        <div *ngIf="productoEditar && productoEditar.id === producto.id">
          <!-- Agregar campo de edición de categoría si es necesario -->
        </div>
      </td>
      <td>
        <div *ngIf="!productoEditar || productoEditar.id !== producto.id">{{ producto.cantidad }}</div>
        <div *ngIf="productoEditar && productoEditar.id === producto.id">
          <!-- Agregar campo de edición de cantidad si es necesario -->
        </div>
      </td>
      <td>
        <div *ngIf="!productoEditar || productoEditar.id !== producto.id">
          <button class="btn btn-primary btn-sm" (click)="editarProducto(producto)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="borrarProducto(producto.id)">Eliminar</button>
        </div>
        <div *ngIf="productoEditar && productoEditar.id === producto.id">
          <button class="btn btn-success btn-sm" (click)="guardarEdicion()">Guardar</button>
          <button class="btn btn-secondary btn-sm" (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


  <h3>Agregar Nuevo Producto</h3>
  <form (submit)="agregarProducto()">
    <div class="form-group">
      <input type="text" class="form-control" name="nombre"
             placeholder="Nombre del producto" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="precio"
             placeholder="Precio producto" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="categoria"
             placeholder="Categoria" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="cantidad"
             placeholder="Cantidad" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>
